<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="text-wrapper">
              <a class="navbar-brand d-flex align-items-center fw-bold fs-1 text-white" href="">
                  <img src="../assets/images/handcuffs.png" width="35 px"/>Prison Web Service</a>
            </div>
        </li>
        <li class="nav-item nav-category">Menu</li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cells/all">
            <img src="../assets/images/cell.png" width="32px" style="margin-right: 8px;">
            <span class="menu-title">Cele</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/meetings/all">
            <img src="../assets/images/meeting.png" width="32px" style="margin-right: 8px;">
            <span class="menu-title">Spotkania</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/meetingrooms/all">
            <img src="../assets/images/meetingroom.png" width="32px" style="margin-right: 8px;">
            <span class="menu-title">Pokoje spotkań</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prisoners/all">
            <img src="../assets/images/prisoner.png" width="32px" style="margin-right: 8px;">
            <span class="menu-title">Więźniowie</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prisonofficers/all">
            <img src="../assets/images/prisonofficer.png" width="32px" style="margin-right: 8px;">
            <span class="menu-title">Pracownicy więzienia</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">
            <img src="../assets/images/home.png" width="32px" style="margin-right: 8px;">
            <span class="menu-title">Strona główna</span>
          </a>
        </li>
        </ul>
    </nav>

    <div class="main-panel">
        <div class="content-wrapper">
          <!-- Page Title Header Starts-->
            <div class="row page-title-header">
                <div class="col-12">
                    <div class="page-header">
                        <h4 class="page-title">Spotkania</h4>
                    </div>
                </div>
            </div>
          <!-- Page Title Header Ends-->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="d-flex">
                        <div class="wrapper">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                  <thead>
                                    <tr>
                                        <th>Id spotkania</th>
                                        <th>Dane odwiedzającego</th>
                                        <th>Start spotkania</th>
                                        <th>Koniec spotkania</th>
                                        <th>Id więźnia</th>
                                        <th>Id pracownika</th>
                                        <th>Id pokoju</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <ng-container *ngFor="let m of meetings">
                                        <tr>
                                            <th>{{m.id}}</th>
                                            <th>{{m.visitorData}}</th>
                                            <th>{{m.meetingStart}}</th>
                                            <th>{{m.meetingEnd}}</th>
                                            <th>{{m.prisonerId}}</th>
                                            <th>{{m.prisonOfficerId}}</th>
                                            <th>{{m.meetingRoomId}}</th>
                                        </tr> 
                                     </ng-container>
                                  </tbody>
                                </table>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>